.deps/
.libs/
.jars/
.idlj/
*.jar
*.lo
*.o
Makefile
Makefile.in
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.guess
config.log
config.status
config.sub
configure
depcomp
frontendxInterfaces.pc
install-sh
libfrontendxInterfaces.la
libtool
ltmain.sh
missing
/src/
/libsrc/java/bin/
/libsrc/cpp/.dirstamp
/libsrc/java/META-INF/MANIFEST.MF
/libsrc/frontendX.pc
/libsrc/libfrontendx-*.la
